.drink-widget{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    border-radius: 35px;
    padding: 20px;
    background-color:#adc8ed;
    color: black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    margin-bottom: 1%;
}

.drinkImage{
    width: 250px;
}

.drinkName{
    font-size: 2rem;
    font-weight: bold;
}

@media screen and (max-width: 500px){
    .drink-widget{
        width: 445px;
        border-radius: 35px;
        padding: 20px;

    }
    
}