.forecast-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.card-container{
    background-color: white;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    display:flex;
    justify-content: center;
    border-radius: 4px;
}

.entire-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

form input{
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 4px;
}

form button{
    background-color: #4d7db0;
  border: none;
  color: white;
  padding: 16px 32px;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

form button:hover {opacity: 1}

h1 {
    color: white;
}

@media screen and (max-width: 1000px){
    .forecast-container{
        display:flex;
        flex-direction: column;

    }
    .card-container{
        margin-top: 5px;
    }
    
}